body{
    background-image: linear-gradient(90deg, aquamarine, teal);
    font-weight: bold;
    text-align: center;
}

.content{
    width: 50%;
    margin: 50px auto;
}

input[type=range] {
    -webkit-appearance: none;
    display: inline-block;
    width: 255px;
    height: 0.5em;
    border-radius: 5px;
}

#rangeR {
    background-color: red;
}

#rangeG {
    background-color: green;
}

#rangeB {
    background-color: blue;
}

.value{
    background-color: #ddd;
    text-align: center;
}

.divColor{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: black;
    border: 2px solid black;
}

#hexaColor{
    text-transform: uppercase;
    text-shadow: 0 0 2px black;
}